USE [ERPBA]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[isActive] [bit] NOT NULL,
	[CNIC] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[BusinessDivisionID] [int] NULL,
	[AccessFailedCount] [int] NOT NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BA_Bank]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BA_Bank](
	[BankID] [int] IDENTITY(1,1) NOT NULL,
	[BankName] [nvarchar](50) NULL,
	[AccTitle] [nvarchar](50) NULL,
	[AccNo] [nvarchar](50) NULL,
	[BranchCode] [nvarchar](50) NULL,
	[BranchAdd] [nvarchar](50) NULL,
 CONSTRAINT [PK_BA_Bank] PRIMARY KEY CLUSTERED 
(
	[BankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BACustomerFacilityDetails]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BACustomerFacilityDetails](
	[Customer_Facilityid] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[price] [int] NOT NULL,
	[FacilityID] [int] NOT NULL,
	[ContainerSize20P] [nvarchar](50) NULL,
	[ContainerSize40P] [nvarchar](50) NULL,
 CONSTRAINT [PK_BACustomerFacilityDetails] PRIMARY KEY CLUSTERED 
(
	[Customer_Facilityid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BACustomerPrice]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BACustomerPrice](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[TotalFacility] [int] NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedDate] [date] NULL,
	[UpdatedBy] [varchar](50) NULL,
 CONSTRAINT [PK_BACustomerPrice] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BACustomerRegistration]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BACustomerRegistration](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerCode] [varchar](8) NULL,
	[Customer_Name] [varchar](100) NOT NULL,
	[Customer_Address] [varchar](150) NULL,
	[Customer_Eamil] [varchar](50) NULL,
	[Customer_type] [int] NULL,
	[Customer_Phone_Number] [nvarchar](50) NULL,
	[Customer_Country] [varchar](50) NULL,
	[Customer_City] [varchar](50) NULL,
	[BusinessDivisionID] [int] NULL,
	[Customer_Status] [bit] NULL,
	[UserID] [varchar](50) NULL,
	[UpdateBy] [varchar](50) NULL,
	[CreateDate] [varchar](50) NULL,
	[UpdateDate] [varchar](50) NULL,
 CONSTRAINT [PK_BACustomerRegistration] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BACustomertype]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BACustomertype](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_BACustomertype] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAExpensesDetails]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAExpensesDetails](
	[Trip_Expenseid] [int] IDENTITY(1,1) NOT NULL,
	[TripId] [int] NOT NULL,
	[price] [int] NOT NULL,
	[ExpenseId] [int] NOT NULL,
 CONSTRAINT [PK_BAExpensesDeatils] PRIMARY KEY CLUSTERED 
(
	[Trip_Expenseid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAExpensesDropDown]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAExpensesDropDown](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ExpenseName] [varchar](50) NULL,
	[ExpensePrice] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_BAExpensesDropDown] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAMaritalStatus]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAMaritalStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_BAMaritalStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAtrip]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAtrip](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Trip_ID] [nvarchar](50) NOT NULL,
	[Operation_Date] [varchar](50) NULL,
	[Order_ID] [int] NOT NULL,
	[CountainerNo_ID] [varchar](50) NOT NULL,
	[CountainerNo2_ID] [varchar](50) NOT NULL,
	[Drive_ID] [int] NOT NULL,
	[Vechial_ID] [int] NOT NULL,
	[TotalExpense] [int] NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedDate] [date] NULL,
	[UpdatedBy] [varchar](50) NULL,
 CONSTRAINT [PK_BAtrip_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DeptId] [int] IDENTITY(1,1) NOT NULL,
	[Dept_Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[DeptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Designation]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designation](
	[DesignationId] [int] IDENTITY(1,1) NOT NULL,
	[Designation_Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Designation] PRIMARY KEY CLUSTERED 
(
	[DesignationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emp_Child]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emp_Child](
	[ChildID] [int] IDENTITY(1,1) NOT NULL,
	[Child_Name] [varchar](50) NOT NULL,
	[Date_of_Birth] [varchar](11) NOT NULL,
	[EmpID] [int] NOT NULL,
	[MaritalStatus] [varchar](7) NOT NULL,
	[Gender] [varchar](6) NOT NULL,
	[Cnic] [varchar](15) NULL,
 CONSTRAINT [PK_Emp_Child] PRIMARY KEY CLUSTERED 
(
	[ChildID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emp_Parent]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emp_Parent](
	[ParentId] [int] IDENTITY(1,1) NOT NULL,
	[Parent_Name] [varchar](50) NOT NULL,
	[Date_Of_Birth] [varchar](11) NOT NULL,
	[EmpId] [int] NOT NULL,
	[Gender] [varchar](6) NOT NULL,
	[Parent_Cnic] [varchar](15) NULL,
 CONSTRAINT [PK_Emp_Parent] PRIMARY KEY CLUSTERED 
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emp_Spouse]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emp_Spouse](
	[SpouseId] [int] IDENTITY(1,1) NOT NULL,
	[Spouse_Name] [varchar](50) NOT NULL,
	[Date_Of_Birth] [varchar](11) NOT NULL,
	[EmpId] [int] NOT NULL,
	[Gender] [varchar](6) NOT NULL,
	[Cnic] [varchar](15) NULL,
 CONSTRAINT [PK_Emp_Spouse] PRIMARY KEY CLUSTERED 
(
	[SpouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Empcode] [varchar](50) NULL,
	[Employee_LastName] [varchar](50) NULL,
	[Employee_FirstName] [varchar](50) NOT NULL,
	[Record_Date] [varchar](50) NOT NULL,
	[Cnic] [varchar](15) NOT NULL,
	[Date_Of_Joining] [varchar](50) NOT NULL,
	[DeptID] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[EmpPhoneno] [varchar](12) NULL,
	[CreatedBy] [varchar](20) NULL,
	[DesignationId] [int] NULL,
	[Gender] [varchar](6) NULL,
	[EmpPhonenoopt] [varchar](12) NULL,
	[EmailAddress] [varchar](50) NULL,
	[Address] [varchar](200) NULL,
	[Date_Of_Birth] [varchar](10) NULL,
	[MaritalStatus] [varchar](9) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FromLocOil]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FromLocOil](
	[FLocationID] [int] IDENTITY(1,1) NOT NULL,
	[FromLocation] [nvarchar](50) NULL,
	[CompanyID] [int] NOT NULL,
 CONSTRAINT [PK_FromLocOil] PRIMARY KEY CLUSTERED 
(
	[FLocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GenerateOrder]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenerateOrder](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderNo] [nvarchar](8) NULL,
	[CustomerID] [int] NULL,
	[BusinessDevisionID] [int] NULL,
	[OrderType] [nvarchar](20) NULL,
	[BL] [nvarchar](50) NULL,
	[CRO] [nvarchar](50) NULL,
	[InBond_Number] [nvarchar](50) NULL,
	[DeliveryNo] [nvarchar](50) NULL,
	[OrderDate] [date] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK_GenerateOrder] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryCategory]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryCategory](
	[CatID] [int] IDENTITY(1,1) NOT NULL,
	[CatName] [varchar](50) NULL,
 CONSTRAINT [PK_InventoryCategory] PRIMARY KEY CLUSTERED 
(
	[CatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryDetail]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryDetail](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[IDate] [varchar](50) NULL,
	[IDescription] [varchar](200) NULL,
	[IPrice] [int] NULL,
	[IVendor] [varchar](50) NULL,
	[Invoice] [varchar](50) NULL,
	[IRemark] [varchar](50) NULL,
	[IQty] [int] NULL,
	[CompanyID] [int] NULL,
	[CategoryID] [int] NULL,
	[CreateDate] [varchar](50) NULL,
	[CreateBy] [varchar](50) NULL,
	[HandOver] [varchar](50) NULL,
 CONSTRAINT [PK_InventoryDetail] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logistics]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logistics](
	[logisticsid] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[FromLocation] [varchar](50) NULL,
	[ToLocation] [varchar](50) NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[JobType] [varchar](10) NULL,
	[ContainerNo] [varchar](50) NULL,
	[ContainerNo2] [varchar](50) NULL,
	[ContainerSize] [varchar](50) NULL,
	[OrderServiceId] [int] NULL,
	[Qty] [int] NULL,
 CONSTRAINT [PK_Logistics] PRIMARY KEY CLUSTERED 
(
	[logisticsid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[Menu_ID] [int] IDENTITY(1,1) NOT NULL,
	[Menu_Caption] [varchar](50) NULL,
	[Url] [varchar](max) NULL,
	[Read] [int] NULL,
	[Update] [int] NULL,
	[delete] [int] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[Menu_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OilBalance]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OilBalance](
	[AccID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceDate] [date] NULL,
	[Ref_no] [varchar](100) NULL,
	[Debit] [decimal](18, 2) NULL,
	[Credit] [decimal](18, 2) NULL,
	[AccHead] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OilCompany]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OilCompany](
	[OCID] [int] IDENTITY(1,1) NOT NULL,
	[OilCompany] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_FacilityMapping]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_FacilityMapping](
	[OFId] [int] IDENTITY(1,1) NOT NULL,
	[FacilityID] [int] NULL,
	[OrderID] [int] NULL,
 CONSTRAINT [PK_Order_FacilityMapping] PRIMARY KEY CLUSTERED 
(
	[OFId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderServices]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderServices](
	[OrderServiceID] [int] NOT NULL,
	[ServiceType] [nvarchar](50) NULL,
	[ServiceRemarks] [nvarchar](100) NULL,
 CONSTRAINT [PK_OrderServices] PRIMARY KEY CLUSTERED 
(
	[OrderServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stp_BusinessDivision]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stp_BusinessDivision](
	[BusinessDivisionID] [int] IDENTITY(1,1) NOT NULL,
	[BusinessDivisionCode] [varchar](8) NULL,
	[BusinessDivisionName] [varchar](50) NOT NULL,
	[CompanyID] [numeric](18, 0) NOT NULL,
	[UserID] [varchar](50) NULL,
	[UpdateBy] [varchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_stp_BusinessDivision] PRIMARY KEY CLUSTERED 
(
	[BusinessDivisionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stp_City]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stp_City](
	[CityID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CityCode] [varchar](8) NULL,
	[CityName] [varchar](100) NOT NULL,
	[CityPhoneCode] [varchar](5) NULL,
	[CountryID] [numeric](18, 0) NOT NULL,
	[UserID] [varchar](50) NULL,
	[UpdateBy] [varchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_stp_City] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stp_Company]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stp_Company](
	[CompanyID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CompanyType] [numeric](18, 0) NULL,
	[CompanyCode] [varchar](8) NULL,
	[CompanyName] [varchar](100) NOT NULL,
	[Address1] [varchar](250) NULL,
	[Address2] [varchar](250) NULL,
	[ZipCode] [varchar](50) NULL,
	[PhoneNo] [varchar](11) NULL,
	[FaxNo] [varchar](11) NULL,
	[Email] [varchar](100) NULL,
	[URL] [varchar](200) NULL,
	[NTN] [varchar](11) NULL,
	[CityID] [numeric](18, 0) NOT NULL,
	[CountryID] [numeric](18, 0) NOT NULL,
	[UserID] [varchar](50) NULL,
	[UpdateBy] [varchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_stp_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stp_Country]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stp_Country](
	[CountryID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CountryCode] [varchar](8) NULL,
	[CountryName] [varchar](100) NOT NULL,
	[CountryPhoneCode] [varchar](3) NULL,
	[UserID] [varchar](50) NULL,
	[UpdateBy] [varchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_stp_Country] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stp_Customer]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stp_Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerCode] [varchar](8) NULL,
	[CustomerName] [varchar](100) NOT NULL,
	[Address1] [nvarchar](500) NULL,
	[Address2] [nvarchar](500) NULL,
	[ZipCode] [varchar](6) NULL,
	[CustomerAcctCode] [numeric](18, 0) NULL,
	[NTN] [varchar](10) NULL,
	[SalesTaxRegNumber] [varchar](17) NULL,
	[Phone1] [varchar](12) NULL,
	[Phone2] [varchar](12) NULL,
	[Email] [varchar](100) NULL,
	[CreditTerms] [numeric](18, 0) NULL,
	[CreditLimit] [numeric](18, 0) NULL,
	[EmpID] [numeric](18, 0) NULL,
	[CityID] [numeric](18, 0) NOT NULL,
	[CountryID] [numeric](18, 0) NOT NULL,
	[CompanyID] [numeric](18, 0) NOT NULL,
	[BusinessDivisionID] [numeric](18, 0) NULL,
	[CustomerTypeID] [numeric](18, 0) NULL,
	[UserID] [varchar](50) NULL,
	[UpdateBy] [varchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_stp_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stp_Facility]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stp_Facility](
	[facilityID] [int] IDENTITY(1,1) NOT NULL,
	[FacilityName] [nvarchar](50) NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK_stp_Facility] PRIMARY KEY CLUSTERED 
(
	[facilityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stp_Oil]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stp_Oil](
	[OilID] [int] IDENTITY(1,1) NOT NULL,
	[OilTypeID] [int] NULL,
	[VendorID] [int] NULL,
	[OilCompany] [int] NULL,
	[Quantity] [decimal](9, 2) NULL,
	[InvoiceNumber] [varchar](50) NULL,
	[InvoiceDate] [date] NULL,
	[Rate] [decimal](9, 2) NULL,
	[PaymentModeID] [int] NULL,
	[Remarks] [varchar](500) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[TotalAmount]  AS ([Quantity]*[Rate]),
	[PO/Ref_No] [varchar](50) NULL,
	[CompanyID] [int] NULL,
	[DeliveryNo] [int] NULL,
	[ReceivedDate] [date] NULL,
	[POAmount] [decimal](9, 2) NULL,
	[PODate] [date] NULL,
 CONSTRAINT [PK_stp_Oil] PRIMARY KEY CLUSTERED 
(
	[OilID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stp_OilMaster]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stp_OilMaster](
	[OMID] [int] IDENTITY(1,1) NOT NULL,
	[Oil_Name] [varchar](50) NULL,
	[Oil_Status] [int] NULL,
 CONSTRAINT [PK_stp_OilMaster] PRIMARY KEY CLUSTERED 
(
	[OMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stp_PaymentMode]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stp_PaymentMode](
	[PaymentModeID] [int] NOT NULL,
	[PaymentMode] [varchar](50) NULL,
	[StatusID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stp_Product]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stp_Product](
	[ProductID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProductCode] [varchar](11) NULL,
	[ProductName] [varchar](100) NOT NULL,
	[ProductAcctCode] [numeric](18, 0) NOT NULL,
	[UnitPrice] [numeric](18, 2) NULL,
	[ProductCatID] [numeric](18, 0) NOT NULL,
	[CompanyID] [numeric](18, 0) NOT NULL,
	[BusinessDivisionID] [numeric](18, 0) NULL,
	[UserID] [varchar](50) NULL,
	[UpdateBy] [varchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_stp_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stp_ProductCategory]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stp_ProductCategory](
	[ProductCatID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProductCatCode] [varchar](8) NULL,
	[ProductCatName] [varchar](100) NOT NULL,
	[CompanyID] [numeric](18, 0) NOT NULL,
	[BusinessDivisionID] [numeric](18, 0) NULL,
	[UserID] [varchar](50) NULL,
	[UpdateBy] [varchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[Status] [bit] NULL,
	[ServiecTypeID] [int] NULL,
 CONSTRAINT [PK_stp_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[ProductCatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stp_ServiceType]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stp_ServiceType](
	[ServiecTypeID] [int] NOT NULL,
	[ServiceTypeDesc] [nvarchar](50) NULL,
	[StatusID] [numeric](18, 0) NULL,
 CONSTRAINT [PK_stp_ServiceType] PRIMARY KEY CLUSTERED 
(
	[ServiecTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stp_Status]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stp_Status](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [varchar](50) NULL,
	[StatusType] [varchar](10) NULL,
	[UserID] [varchar](50) NULL,
	[UpdateBy] [varchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_stp_Status] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Invoice]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Invoice](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [nvarchar](50) NULL,
	[OrderID] [int] NULL,
	[InvoiceDate] [date] NULL,
	[NTN] [nvarchar](10) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[VerifiedBy] [nvarchar](50) NULL,
	[VerifiedDate] [datetime] NULL,
	[InvoiceDataFromDate] [date] NULL,
	[InvoiceDataToDate] [date] NULL,
	[isActive] [bit] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_tbl_Invoice] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleRegistrationDetail]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleRegistrationDetail](
	[VehicleID] [bigint] IDENTITY(1,1) NOT NULL,
	[Vehicle_Number] [varchar](20) NULL,
	[VehicleTypeID] [int] NULL,
	[VehicleColor] [varchar](50) NULL,
	[VehicleEngineNo] [varchar](50) NULL,
	[VehicleChassisNO] [varchar](50) NULL,
	[VehicleName] [varchar](250) NULL,
	[IsActive] [bit] NULL,
	[UserID] [varchar](50) NULL,
	[UpdateBy] [varchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[TTID] [int] NULL,
	[AxelType] [varchar](50) NULL,
	[TireQuantity] [int] NULL,
 CONSTRAINT [PK_VehicleRegistrationDetail] PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleType]    Script Date: 6/22/2021 3:06:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleType](
	[VehicleTypeID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleTypeDesc] [nvarchar](250) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_VehicleType] PRIMARY KEY CLUSTERED 
(
	[VehicleTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'018e95e2-142c-4e65-bece-6f0e977c9b5d', N'zain')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'079d4459-3e64-415b-8ef6-ff6b5ca8125a', N'admin213')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2ff07f51-f408-42f9-a9a9-15b5e5f0e6f5', N'Employee')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'50344ed2-48cb-4ca9-81e8-50e8eed91977', N'ba8d4fc5-ba65-44ea-8692-dac028d37340')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'5ef9b61c-2794-42c8-a7b2-3a8ad657502e', N'b21dc59f-af7a-4f17-8643-fc6e69f207f9')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'dec57404-3d20-4755-ae5a-707246c2fbaa', N'2ff07f51-f408-42f9-a9a9-15b5e5f0e6f5')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [UserName], [isActive], [CNIC], [FirstName], [LastName], [BusinessDivisionID], [AccessFailedCount], [LockoutEnabled], [TwoFactorEnabled], [LockoutEndDateUtc]) VALUES (N'50344ed2-48cb-4ca9-81e8-50e8eed91977', N'admin@bilal-group.com', 0, N'ANGuFiVYcYR8SpSShyeQKZb+K+hJKeEiVNt1etWBmjjiTtATBV+Ens/G7DbXhDXQ1w==', N'5c7f1cc6-4333-4762-8a1a-0df9462c019d', NULL, 0, N'admin', 1, NULL, NULL, NULL, 0, 0, 0, 0, NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [UserName], [isActive], [CNIC], [FirstName], [LastName], [BusinessDivisionID], [AccessFailedCount], [LockoutEnabled], [TwoFactorEnabled], [LockoutEndDateUtc]) VALUES (N'5ef9b61c-2794-42c8-a7b2-3a8ad657502e', N'zain@gmail.com', 0, N'AIcAaMby0j+/wFD6K6ze1G9BdF8/9HiWla6WWIELEDwIB5hiCm2FBD/PI0TFGGbHeQ==', N'aec7ce73-24e9-49e5-8489-94c708cf164c', N'0231877671', 0, N'Muhammad.Zain', 1, N'0098213871782', N'Muhammad', N'Zain', 10006, 0, 0, 0, NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [UserName], [isActive], [CNIC], [FirstName], [LastName], [BusinessDivisionID], [AccessFailedCount], [LockoutEnabled], [TwoFactorEnabled], [LockoutEndDateUtc]) VALUES (N'dec57404-3d20-4755-ae5a-707246c2fbaa', N'haris.daniyal@bilal-group.com', 0, N'AG9BcqjSUhCW94KHBcjh/Y7SvoAHt9UUk0ibt4mZsgBNNrViZMeLhY7DkVI1jsPj1w==', N'f7e549bc-af4f-4421-ac0b-e9e6d2729662', N'0123203231', 0, N'Haris.Daniyal', 1, N'4123124123232', N'Haris', N'Daniyal', 1, 0, 0, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[BA_Bank] ON 

INSERT [dbo].[BA_Bank] ([BankID], [BankName], [AccTitle], [AccNo], [BranchCode], [BranchAdd]) VALUES (1, N'BANK AL HABIB LTD', N'BILAL ASSOCIATES', N'1045-0981-009204-01-6', N'1045', N'BILAWAL CHORANGI CLIFTON BLOCK 2')
INSERT [dbo].[BA_Bank] ([BankID], [BankName], [AccTitle], [AccNo], [BranchCode], [BranchAdd]) VALUES (2, N'DUBAI ISLAMIC BANK', N'BILAL ASSOCIATES', N'0569559001', NULL, N'PLAZA BRANCH')
SET IDENTITY_INSERT [dbo].[BA_Bank] OFF
GO
SET IDENTITY_INSERT [dbo].[BACustomerFacilityDetails] ON 

INSERT [dbo].[BACustomerFacilityDetails] ([Customer_Facilityid], [CustomerID], [price], [FacilityID], [ContainerSize20P], [ContainerSize40P]) VALUES (40, 2036, 0, 1, N'7000', N'5000')
INSERT [dbo].[BACustomerFacilityDetails] ([Customer_Facilityid], [CustomerID], [price], [FacilityID], [ContainerSize20P], [ContainerSize40P]) VALUES (41, 2037, 200, 2, N'', N'')
INSERT [dbo].[BACustomerFacilityDetails] ([Customer_Facilityid], [CustomerID], [price], [FacilityID], [ContainerSize20P], [ContainerSize40P]) VALUES (42, 2038, 0, 1, N'5000', N'7000')
SET IDENTITY_INSERT [dbo].[BACustomerFacilityDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[BACustomerPrice] ON 

INSERT [dbo].[BACustomerPrice] ([ID], [CustomerID], [TotalFacility], [CreatedBy], [CreatedDate], [UpdatedBy]) VALUES (2036, 1017, 0, N'admin', NULL, NULL)
INSERT [dbo].[BACustomerPrice] ([ID], [CustomerID], [TotalFacility], [CreatedBy], [CreatedDate], [UpdatedBy]) VALUES (2037, 1017, 200, N'admin', NULL, NULL)
INSERT [dbo].[BACustomerPrice] ([ID], [CustomerID], [TotalFacility], [CreatedBy], [CreatedDate], [UpdatedBy]) VALUES (2038, 1017, 0, N'admin', NULL, NULL)
SET IDENTITY_INSERT [dbo].[BACustomerPrice] OFF
GO
SET IDENTITY_INSERT [dbo].[BACustomerRegistration] ON 

INSERT [dbo].[BACustomerRegistration] ([CustomerID], [CustomerCode], [Customer_Name], [Customer_Address], [Customer_Eamil], [Customer_type], [Customer_Phone_Number], [Customer_Country], [Customer_City], [BusinessDivisionID], [Customer_Status], [UserID], [UpdateBy], [CreateDate], [UpdateDate]) VALUES (1019, N'000004', N'Marine International Container Terminal (Pvt.) Limited (MICT)', N'5th Floor, Business Centre, Mumtaz Hassan Road, Karachi-74000 Pakistan', N'info@mict.com.pk', 1, N'031-324-17933', N'Pakistan ', N'Karachi', 1, 1, N'6/1/2021 4:03:36 PM', NULL, N'admin', NULL)
INSERT [dbo].[BACustomerRegistration] ([CustomerID], [CustomerCode], [Customer_Name], [Customer_Address], [Customer_Eamil], [Customer_type], [Customer_Phone_Number], [Customer_Country], [Customer_City], [BusinessDivisionID], [Customer_Status], [UserID], [UpdateBy], [CreateDate], [UpdateDate]) VALUES (1020, N'000005', N'Amreli Steels PVT Ltd', N'Amreli Steels Limited  A/18, S.I.T.E., Karachi-75730,  Pakistan', N'info@amrelisteels.com', 1, N'031-879-8328', N'Pakistan ', N'Karachi', 1, 1, N'6/1/2021 4:32:32 PM', NULL, N'admin', NULL)
SET IDENTITY_INSERT [dbo].[BACustomerRegistration] OFF
GO
SET IDENTITY_INSERT [dbo].[BACustomertype] ON 

INSERT [dbo].[BACustomertype] ([ID], [CustomerType]) VALUES (1, N'REGISTERED')
INSERT [dbo].[BACustomertype] ([ID], [CustomerType]) VALUES (2, N'UNREGISTERED')
SET IDENTITY_INSERT [dbo].[BACustomertype] OFF
GO
SET IDENTITY_INSERT [dbo].[BAExpensesDetails] ON 

INSERT [dbo].[BAExpensesDetails] ([Trip_Expenseid], [TripId], [price], [ExpenseId]) VALUES (1316, 1095, 200, 1)
INSERT [dbo].[BAExpensesDetails] ([Trip_Expenseid], [TripId], [price], [ExpenseId]) VALUES (1317, 1095, 300, 2)
INSERT [dbo].[BAExpensesDetails] ([Trip_Expenseid], [TripId], [price], [ExpenseId]) VALUES (1318, 1096, 200, 1)
SET IDENTITY_INSERT [dbo].[BAExpensesDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[BAExpensesDropDown] ON 

INSERT [dbo].[BAExpensesDropDown] ([id], [ExpenseName], [ExpensePrice], [IsActive]) VALUES (1, N'Excise Police', 200, 1)
INSERT [dbo].[BAExpensesDropDown] ([id], [ExpenseName], [ExpensePrice], [IsActive]) VALUES (2, N'Meal', 300, 1)
INSERT [dbo].[BAExpensesDropDown] ([id], [ExpenseName], [ExpensePrice], [IsActive]) VALUES (3, N'Challan', 200, 1)
SET IDENTITY_INSERT [dbo].[BAExpensesDropDown] OFF
GO
SET IDENTITY_INSERT [dbo].[BAMaritalStatus] ON 

INSERT [dbo].[BAMaritalStatus] ([ID], [name]) VALUES (1, N'SINGLE')
INSERT [dbo].[BAMaritalStatus] ([ID], [name]) VALUES (2, N'MARRIED')
SET IDENTITY_INSERT [dbo].[BAMaritalStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[BAtrip] ON 

INSERT [dbo].[BAtrip] ([ID], [Trip_ID], [Operation_Date], [Order_ID], [CountainerNo_ID], [CountainerNo2_ID], [Drive_ID], [Vechial_ID], [TotalExpense], [CreatedBy], [CreatedDate], [UpdatedBy]) VALUES (1095, N'1', N'6/17/2021 12:00:00 AM', 1103, N'Container No 1', N'ContainerNo 2', 2414, 69, 500, N'admin', CAST(N'2021-06-17' AS Date), NULL)
INSERT [dbo].[BAtrip] ([ID], [Trip_ID], [Operation_Date], [Order_ID], [CountainerNo_ID], [CountainerNo2_ID], [Drive_ID], [Vechial_ID], [TotalExpense], [CreatedBy], [CreatedDate], [UpdatedBy]) VALUES (1096, N'2', N'6/18/2021 12:00:00 AM', 1097, N'AVCB12423121', N'Contaier no1', 2411, 69, 700, N'admin', CAST(N'2021-06-18' AS Date), NULL)
INSERT [dbo].[BAtrip] ([ID], [Trip_ID], [Operation_Date], [Order_ID], [CountainerNo_ID], [CountainerNo2_ID], [Drive_ID], [Vechial_ID], [TotalExpense], [CreatedBy], [CreatedDate], [UpdatedBy]) VALUES (1097, N'3', N'6/21/2021 12:00:00 AM', 1097, N'AVCB123423121', N'Container no1', 2411, 113, 500, N'admin', CAST(N'2021-06-21' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[BAtrip] OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DeptId], [Dept_Name]) VALUES (1, N'Information Technology')
INSERT [dbo].[Department] ([DeptId], [Dept_Name]) VALUES (2, N'Human Resources')
INSERT [dbo].[Department] ([DeptId], [Dept_Name]) VALUES (1002, N'Operation
')
INSERT [dbo].[Department] ([DeptId], [Dept_Name]) VALUES (1004, N'Accounts
')
INSERT [dbo].[Department] ([DeptId], [Dept_Name]) VALUES (1005, N'Administration
')
INSERT [dbo].[Department] ([DeptId], [Dept_Name]) VALUES (1006, N'Auction
')
INSERT [dbo].[Department] ([DeptId], [Dept_Name]) VALUES (1007, N'CSD
')
INSERT [dbo].[Department] ([DeptId], [Dept_Name]) VALUES (1009, N'Export ')
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Designation] ON 

INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (1, N'Manager Claims & Misc Billing
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (2, N'Business Development Manager
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (3, N'Tracking Cordinator
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (4, N'Team Leader / Empty Management
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (5, N'Operations Staff
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (6, N'Outdoor Clerk
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (7, N'Administrator
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (8, N'Ali Room
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (9, N'Loading Rep KICT
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (10, N'Operation Support 
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (11, N'Operations Staff
 ')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (12, N'Senio Analyst
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (13, N'Date Entry Operator
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (14, N'Civil Engineer
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (15, N'Computer Operator
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (16, N'Outdoor Clerk
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (17, N'Network Administrator
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (18, N'Software Engineer
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (19, N'Manager Operations')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (20, N'C.F.O
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (21, N'Manager  Accounts
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (22, N'Assistant Manager  Accounts
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (23, N'Payments Coordinator
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (24, N'Billing Coordinator
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (25, N'Guard
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (26, N'Cook
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (27, N'Receptionist
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (28, N'Marine Centre
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (29, N'Peon
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (30, N'Supervisor
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (31, N'Manger Imp/Exp.
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (32, N'Commercial Manager
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (33, N'Operation Assitant')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (34, N'R & D Officer
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (35, N'Operations Officer
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (36, N'Tel. Operator
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (37, N'Gate Officer ( Night)
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (39, N'Foreman
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (40, N'Carpenter
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (41, N'Delivery
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (42, N'Examination
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (43, N'Weighment
')
INSERT [dbo].[Designation] ([DesignationId], [Designation_Name]) VALUES (44, N'Driver')
SET IDENTITY_INSERT [dbo].[Designation] OFF
GO
SET IDENTITY_INSERT [dbo].[Emp_Child] ON 

INSERT [dbo].[Emp_Child] ([ChildID], [Child_Name], [Date_of_Birth], [EmpID], [MaritalStatus], [Gender], [Cnic]) VALUES (1, N'hassan', N'2020-02-02', 2, N'Single', N'Male', N'123123')
INSERT [dbo].[Emp_Child] ([ChildID], [Child_Name], [Date_of_Birth], [EmpID], [MaritalStatus], [Gender], [Cnic]) VALUES (2, N'zain', N'25-03-2021', 1009, N'Single', N'Female', N'1111111')
INSERT [dbo].[Emp_Child] ([ChildID], [Child_Name], [Date_of_Birth], [EmpID], [MaritalStatus], [Gender], [Cnic]) VALUES (3, N'salman', N'05-03-2021', 1009, N'Married', N'Male', N'111111')
SET IDENTITY_INSERT [dbo].[Emp_Child] OFF
GO
SET IDENTITY_INSERT [dbo].[Emp_Parent] ON 

INSERT [dbo].[Emp_Parent] ([ParentId], [Parent_Name], [Date_Of_Birth], [EmpId], [Gender], [Parent_Cnic]) VALUES (1, N'dad', N'1968-02-12', 2, N'Male', N'2222222')
INSERT [dbo].[Emp_Parent] ([ParentId], [Parent_Name], [Date_Of_Birth], [EmpId], [Gender], [Parent_Cnic]) VALUES (2, N'mom', N'1987-02-09', 2, N'Female', N'00000000')
INSERT [dbo].[Emp_Parent] ([ParentId], [Parent_Name], [Date_Of_Birth], [EmpId], [Gender], [Parent_Cnic]) VALUES (3, N'shahid', N'05-03-2021', 4, N'Male', N'123131')
GO
SET IDENTITY_INSERT [dbo].[Emp_Parent] OFF
GO
SET IDENTITY_INSERT [dbo].[Emp_Spouse] ON 

INSERT [dbo].[Emp_Spouse] ([SpouseId], [Spouse_Name], [Date_Of_Birth], [EmpId], [Gender], [Cnic]) VALUES (1, N'spouse', N'01-03-2021', 2, N'Female', N'9999999')
INSERT [dbo].[Emp_Spouse] ([SpouseId], [Spouse_Name], [Date_Of_Birth], [EmpId], [Gender], [Cnic]) VALUES (2, N'adad', N'11-03-2021', 1011, N'Male', N'1231232')
INSERT [dbo].[Emp_Spouse] ([SpouseId], [Spouse_Name], [Date_Of_Birth], [EmpId], [Gender], [Cnic]) VALUES (3, N'asdasd', N'03-03-2021', 1009, N'Male', N'1231232')
GO
SET IDENTITY_INSERT [dbo].[Emp_Spouse] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeID], [Empcode], [Employee_LastName], [Employee_FirstName], [Record_Date], [Cnic], [Date_Of_Joining], [DeptID], [CompanyId], [EmpPhoneno], [CreatedBy], [DesignationId], [Gender], [EmpPhonenoopt], [EmailAddress], [Address], [Date_Of_Birth], [MaritalStatus]) VALUES (2343, N'000001', N'Ishtiaq ', N'Lt Col Shoaib ', N'6/2/2021 10:34:29 AM', N'54400-7990221-5', N'01/05/1990', 1002, 1, N'0000', N'admin', 19, N'Male', N'000', N'non', N'non', N'01/02/1958', N'Married')
INSERT [dbo].[Employee] ([EmployeeID], [Empcode], [Employee_LastName], [Employee_FirstName], [Record_Date], [Cnic], [Date_Of_Joining], [DeptID], [CompanyId], [EmpPhoneno], [CreatedBy], [DesignationId], [Gender], [EmpPhonenoopt], [EmailAddress], [Address], [Date_Of_Birth], [MaritalStatus]) VALUES (2348, N'000002', N'Iqbal', N'Rizwan', N'6/2/2021 10:46:06 AM', N'42301-5064717-3', N'01/01/1990', 1002, 1, N'00', N'admin', 32, N'Male', N'00', N'non', N'non', N'12/04/1970', N'Married')
INSERT [dbo].[Employee] ([EmployeeID], [Empcode], [Employee_LastName], [Employee_FirstName], [Record_Date], [Cnic], [Date_Of_Joining], [DeptID], [CompanyId], [EmpPhoneno], [CreatedBy], [DesignationId], [Gender], [EmpPhonenoopt], [EmailAddress], [Address], [Date_Of_Birth], [MaritalStatus]) VALUES (2349, N'000003', N'Farooqi', N'Aleem', N'6/2/2021 10:48:28 AM', N'42101-1390095-3', N'01/07/2004', 1002, 1, N'00', N'admin', 1, N'Male', N'00', N'non', N'non', N'05/11/1981', N'Married')
INSERT [dbo].[Employee] ([EmployeeID], [Empcode], [Employee_LastName], [Employee_FirstName], [Record_Date], [Cnic], [Date_Of_Joining], [DeptID], [CompanyId], [EmpPhoneno], [CreatedBy], [DesignationId], [Gender], [EmpPhonenoopt], [EmailAddress], [Address], [Date_Of_Birth], [MaritalStatus]) VALUES (2390, N'000044', N'Farooq', N'Umer ', N'6/2/2021 2:51:42 PM', N'42301-6776496-9', N'11/09/2016', 1004, 1, N'00', N'admin', 46, N'Male', N'00', N'non', N'non
', N'02/15/1992', N'Married')
GO
INSERT [dbo].[Employee] ([EmployeeID], [Empcode], [Employee_LastName], [Employee_FirstName], [Record_Date], [Cnic], [Date_Of_Joining], [DeptID], [CompanyId], [EmpPhoneno], [CreatedBy], [DesignationId], [Gender], [EmpPhonenoopt], [EmailAddress], [Address], [Date_Of_Birth], [MaritalStatus]) VALUES (2620, N'000270', N'Rabi', N'Fazal ', N'6/4/2021 2:48:23 PM', N'21704-7725026-7', N'01/01/1990', 1002, 10021, N'00', N'admin', 44, N'Male', N'00', N'non', N'non
', N'01/01/1990', N'Married')
INSERT [dbo].[Employee] ([EmployeeID], [Empcode], [Employee_LastName], [Employee_FirstName], [Record_Date], [Cnic], [Date_Of_Joining], [DeptID], [CompanyId], [EmpPhoneno], [CreatedBy], [DesignationId], [Gender], [EmpPhonenoopt], [EmailAddress], [Address], [Date_Of_Birth], [MaritalStatus]) VALUES (2630, N'000280', N'Nawaz', N'Shah ', N'6/4/2021 3:04:56 PM', N'53202-8125757-5', N'01/01/1990', 1002, 10021, N'00', N'admin', 47, N'Male', N'00', N'non', N'non
', N'01/01/1990', N'Married')
INSERT [dbo].[Employee] ([EmployeeID], [Empcode], [Employee_LastName], [Employee_FirstName], [Record_Date], [Cnic], [Date_Of_Joining], [DeptID], [CompanyId], [EmpPhoneno], [CreatedBy], [DesignationId], [Gender], [EmpPhonenoopt], [EmailAddress], [Address], [Date_Of_Birth], [MaritalStatus]) VALUES (2643, N'000293', N'Ali', N'Javaid ', N'6/4/2021 3:29:56 PM', N'36304-9816203-1', N'01/01/1990', 1002, 10021, N'00', N'admin', 47, N'Male', N'00', N'non', N'non
', N'01/01/1990', N'Married')
GO
INSERT [dbo].[Employee] ([EmployeeID], [Empcode], [Employee_LastName], [Employee_FirstName], [Record_Date], [Cnic], [Date_Of_Joining], [DeptID], [CompanyId], [EmpPhoneno], [CreatedBy], [DesignationId], [Gender], [EmpPhonenoopt], [EmailAddress], [Address], [Date_Of_Birth], [MaritalStatus]) VALUES (3441, N'000386', N'N/A', N'Aamir ', N'6/7/2021 1:55:06 PM', N'4230127735741', N'01/01/1990', 1002, 1, NULL, N'admin', 51, N'Male', NULL, NULL, N'non
', N'01/01/1990', N'Married')
GO
INSERT [dbo].[Employee] ([EmployeeID], [Empcode], [Employee_LastName], [Employee_FirstName], [Record_Date], [Cnic], [Date_Of_Joining], [DeptID], [CompanyId], [EmpPhoneno], [CreatedBy], [DesignationId], [Gender], [EmpPhonenoopt], [EmailAddress], [Address], [Date_Of_Birth], [MaritalStatus]) VALUES (3492, N'000437', N'Ahmed', N'Safeer ', N'6/7/2021 2:58:25 PM', N'4200032258635', N'01/01/1990', 1002, 1, NULL, N'admin', 30, N'Male', NULL, NULL, N'non
', N'01/01/1990', N'Married')
INSERT [dbo].[Employee] ([EmployeeID], [Empcode], [Employee_LastName], [Employee_FirstName], [Record_Date], [Cnic], [Date_Of_Joining], [DeptID], [CompanyId], [EmpPhoneno], [CreatedBy], [DesignationId], [Gender], [EmpPhonenoopt], [EmailAddress], [Address], [Date_Of_Birth], [MaritalStatus]) VALUES (3507, N'000452', N'Qurashi', N'Ahsan ', N'6/7/2021 3:22:38 PM', N'4230167631301', N'01/01/1990', 1002, 1, NULL, N'admin', 74, N'Male', NULL, NULL, N'non
', N'01/01/1990', N'Married')
INSERT [dbo].[Employee] ([EmployeeID], [Empcode], [Employee_LastName], [Employee_FirstName], [Record_Date], [Cnic], [Date_Of_Joining], [DeptID], [CompanyId], [EmpPhoneno], [CreatedBy], [DesignationId], [Gender], [EmpPhonenoopt], [EmailAddress], [Address], [Date_Of_Birth], [MaritalStatus]) VALUES (3508, N'000453', N'Ahmed', N'Aqeel ', N'6/7/2021 3:23:29 PM', N'4230160429021', N'01/01/1990', 1002, 1, NULL, N'admin', 74, N'Male', NULL, NULL, N'non
', N'01/01/1990', N'Married')
INSERT [dbo].[Employee] ([EmployeeID], [Empcode], [Employee_LastName], [Employee_FirstName], [Record_Date], [Cnic], [Date_Of_Joining], [DeptID], [CompanyId], [EmpPhoneno], [CreatedBy], [DesignationId], [Gender], [EmpPhonenoopt], [EmailAddress], [Address], [Date_Of_Birth], [MaritalStatus]) VALUES (3530, N'000475', N'Masih', N'Perviz ', N'6/7/2021 3:43:43 PM', N'4200018430435', N'01/01/1990', 1002, 1, NULL, N'admin', 74, N'Male', NULL, NULL, N'non
', N'01/01/1990', N'Married')
INSERT [dbo].[Employee] ([EmployeeID], [Empcode], [Employee_LastName], [Employee_FirstName], [Record_Date], [Cnic], [Date_Of_Joining], [DeptID], [CompanyId], [EmpPhoneno], [CreatedBy], [DesignationId], [Gender], [EmpPhonenoopt], [EmailAddress], [Address], [Date_Of_Birth], [MaritalStatus]) VALUES (3538, N'000483', N'Kachi', N'Farooq ', N'6/7/2021 3:55:39 PM', N'4230121234635', N'01/01/1990', 1002, 1, NULL, N'admin', 74, N'Male', NULL, NULL, N'non
', N'01/01/1990', N'Married')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[FromLocOil] ON 

INSERT [dbo].[FromLocOil] ([FLocationID], [FromLocation], [CompanyID]) VALUES (1, N'ZIAN', 0)
INSERT [dbo].[FromLocOil] ([FLocationID], [FromLocation], [CompanyID]) VALUES (2, N'ZIAN', 0)
INSERT [dbo].[FromLocOil] ([FLocationID], [FromLocation], [CompanyID]) VALUES (3, N'ZIAN', 2)
SET IDENTITY_INSERT [dbo].[FromLocOil] OFF
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([ID], [name]) VALUES (1, N'MALE')
INSERT [dbo].[Gender] ([ID], [name]) VALUES (2, N'FEMALE')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[GenerateOrder] ON 

INSERT [dbo].[GenerateOrder] ([OrderID], [OrderNo], [CustomerID], [BusinessDevisionID], [OrderType], [BL], [CRO], [InBond_Number], [DeliveryNo], [OrderDate], [CreatedBy], [CreatedDate], [isActive]) VALUES (1097, N'000001', 1017, 1, N'Import', N'1234', NULL, NULL, NULL, CAST(N'2021-06-08' AS Date), NULL, NULL, NULL)
INSERT [dbo].[GenerateOrder] ([OrderID], [OrderNo], [CustomerID], [BusinessDevisionID], [OrderType], [BL], [CRO], [InBond_Number], [DeliveryNo], [OrderDate], [CreatedBy], [CreatedDate], [isActive]) VALUES (1098, N'000002', 1020, 4, NULL, NULL, NULL, NULL, NULL, CAST(N'2021-06-08' AS Date), NULL, NULL, NULL)
INSERT [dbo].[GenerateOrder] ([OrderID], [OrderNo], [CustomerID], [BusinessDevisionID], [OrderType], [BL], [CRO], [InBond_Number], [DeliveryNo], [OrderDate], [CreatedBy], [CreatedDate], [isActive]) VALUES (1099, N'000003', 1019, 1, N'Import', N'0987987', NULL, NULL, NULL, CAST(N'2021-06-08' AS Date), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[GenerateOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryCategory] ON 

INSERT [dbo].[InventoryCategory] ([CatID], [CatName]) VALUES (1, N'Laptop')
INSERT [dbo].[InventoryCategory] ([CatID], [CatName]) VALUES (2, N'CPU')
INSERT [dbo].[InventoryCategory] ([CatID], [CatName]) VALUES (3, N'Power Cable')
SET IDENTITY_INSERT [dbo].[InventoryCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryDetail] ON 

INSERT [dbo].[InventoryDetail] ([InventoryID], [IDate], [IDescription], [IPrice], [IVendor], [Invoice], [IRemark], [IQty], [CompanyID], [CategoryID], [CreateDate], [CreateBy], [HandOver]) VALUES (3, N'29-09-2020', N'Laptop for Ahmed test', 20000, N'qasier', N'22222', N' cash', 1, 1, 1, N'06-10-2020', N'umer', N' minhaj')
SET IDENTITY_INSERT [dbo].[InventoryDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Logistics] ON 

INSERT [dbo].[Logistics] ([logisticsid], [OrderId], [FromLocation], [ToLocation], [CreatedBy], [UpdatedBy], [IsActive], [CreatedDate], [JobType], [ContainerNo], [ContainerNo2], [ContainerSize], [OrderServiceId], [Qty]) VALUES (11831, 1097, N'PORT QASIM', N'DP WORLD', N'admin', NULL, 0, CAST(N'2021-06-08T05:09:49.557' AS DateTime), N'EMPTY', N'AVCB123423121', N'Container no1', N'20_DR', 1, 1)
INSERT [dbo].[Logistics] ([logisticsid], [OrderId], [FromLocation], [ToLocation], [CreatedBy], [UpdatedBy], [IsActive], [CreatedDate], [JobType], [ContainerNo], [ContainerNo2], [ContainerSize], [OrderServiceId], [Qty]) VALUES (11832, 1097, N'DP WORLD', N'PORT QASIM', N'admin', NULL, 1, CAST(N'2021-06-08T05:09:49.963' AS DateTime), N'LADEN', N'CCNU14231233', NULL, N'40_DR', 1, 1)
INSERT [dbo].[Logistics] ([logisticsid], [OrderId], [FromLocation], [ToLocation], [CreatedBy], [UpdatedBy], [IsActive], [CreatedDate], [JobType], [ContainerNo], [ContainerNo2], [ContainerSize], [OrderServiceId], [Qty]) VALUES (11833, 1097, N'DP WORLD', N'PORT QASIM', N'admin', NULL, 1, CAST(N'2021-06-08T05:09:49.993' AS DateTime), N'LADEN', N'HGDSJFGHJDS', NULL, N'40 DR', 1, 1)
SET IDENTITY_INSERT [dbo].[Logistics] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([Menu_ID], [Menu_Caption], [Url], [Read], [Update], [delete]) VALUES (1, N'Setup', N'Setup/file.espx', 1, 2, 3)
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[OilBalance] ON 

INSERT [dbo].[OilBalance] ([AccID], [InvoiceDate], [Ref_no], [Debit], [Credit], [AccHead]) VALUES (1, CAST(N'2020-12-31' AS Date), N'123121', NULL, CAST(20000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[OilBalance] ([AccID], [InvoiceDate], [Ref_no], [Debit], [Credit], [AccHead]) VALUES (2, CAST(N'2020-12-30' AS Date), N'312312', CAST(10000.00 AS Decimal(18, 2)), NULL, 1)
INSERT [dbo].[OilBalance] ([AccID], [InvoiceDate], [Ref_no], [Debit], [Credit], [AccHead]) VALUES (3, CAST(N'2021-01-01' AS Date), N'873490', CAST(873490.00 AS Decimal(18, 2)), NULL, 1)
SET IDENTITY_INSERT [dbo].[OilBalance] OFF
GO
SET IDENTITY_INSERT [dbo].[OilCompany] ON 

INSERT [dbo].[OilCompany] ([OCID], [OilCompany]) VALUES (1, N'PSO ')
INSERT [dbo].[OilCompany] ([OCID], [OilCompany]) VALUES (2, N'BYCO')
INSERT [dbo].[OilCompany] ([OCID], [OilCompany]) VALUES (3, N'BILAL FILLING STATTION')
SET IDENTITY_INSERT [dbo].[OilCompany] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_FacilityMapping] ON 

INSERT [dbo].[Order_FacilityMapping] ([OFId], [FacilityID], [OrderID]) VALUES (1140, 1, 1097)
INSERT [dbo].[Order_FacilityMapping] ([OFId], [FacilityID], [OrderID]) VALUES (1141, 2, 1097)
INSERT [dbo].[Order_FacilityMapping] ([OFId], [FacilityID], [OrderID]) VALUES (1142, 1, 1098)
SET IDENTITY_INSERT [dbo].[Order_FacilityMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[stp_BusinessDivision] ON 

INSERT [dbo].[stp_BusinessDivision] ([BusinessDivisionID], [BusinessDivisionCode], [BusinessDivisionName], [CompanyID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (1, N'BRO', N'Local Operation Port Qasim', CAST(1 AS Numeric(18, 0)), NULL, NULL, CAST(N'2018-02-01T23:47:30.253' AS DateTime), NULL, 1)
INSERT [dbo].[stp_BusinessDivision] ([BusinessDivisionID], [BusinessDivisionCode], [BusinessDivisionName], [CompanyID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (4, N'BWSO', N'Bilal MT Yard', CAST(1 AS Numeric(18, 0)), NULL, NULL, CAST(N'2020-03-11T10:45:53.997' AS DateTime), NULL, 1)
INSERT [dbo].[stp_BusinessDivision] ([BusinessDivisionID], [BusinessDivisionCode], [BusinessDivisionName], [CompanyID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (5, N'SC', N'Suzuki Capital', CAST(11 AS Numeric(18, 0)), NULL, NULL, CAST(N'2020-09-03T05:14:37.407' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[stp_BusinessDivision] OFF
GO
SET IDENTITY_INSERT [dbo].[stp_City] ON 

INSERT [dbo].[stp_City] ([CityID], [CityCode], [CityName], [CityPhoneCode], [CountryID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (CAST(1 AS Numeric(18, 0)), N'KHI', N'Karachi12', N'021', CAST(1 AS Numeric(18, 0)), N'1', NULL, CAST(N'2017-10-25T23:30:29.133' AS DateTime), NULL, 1)
INSERT [dbo].[stp_City] ([CityID], [CityCode], [CityName], [CityPhoneCode], [CountryID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (CAST(2 AS Numeric(18, 0)), N'LHR', N'Lahore', N'042', CAST(1 AS Numeric(18, 0)), N'1', N'1', CAST(N'2017-11-16T23:34:06.570' AS DateTime), CAST(N'2017-11-16T23:34:29.903' AS DateTime), 1)
INSERT [dbo].[stp_City] ([CityID], [CityCode], [CityName], [CityPhoneCode], [CountryID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (CAST(5 AS Numeric(18, 0)), N'MUL', N'MULTAN', N'061', CAST(1 AS Numeric(18, 0)), N'1', N'1', CAST(N'2018-12-17T18:29:14.897' AS DateTime), CAST(N'2018-12-19T11:37:35.283' AS DateTime), 1)
INSERT [dbo].[stp_City] ([CityID], [CityCode], [CityName], [CityPhoneCode], [CountryID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (CAST(40019 AS Numeric(18, 0)), N'BROAD', N'BAND ROAD
', N'1', CAST(1 AS Numeric(18, 0)), N'1', NULL, CAST(N'2019-12-23T12:29:34.770' AS DateTime), NULL, 1)
INSERT [dbo].[stp_City] ([CityID], [CityCode], [CityName], [CityPhoneCode], [CountryID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (CAST(40023 AS Numeric(18, 0)), N'SAPT
', N'SAPT
', N'1', CAST(1 AS Numeric(18, 0)), N'1', NULL, CAST(N'2020-01-04T12:19:52.303' AS DateTime), NULL, 1)
INSERT [dbo].[stp_City] ([CityID], [CityCode], [CityName], [CityPhoneCode], [CountryID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (CAST(40024 AS Numeric(18, 0)), N'PICT
', N'PICT
', N'1', CAST(1 AS Numeric(18, 0)), N'1', NULL, CAST(N'2020-01-04T12:20:25.097' AS DateTime), NULL, 1)
INSERT [dbo].[stp_City] ([CityID], [CityCode], [CityName], [CityPhoneCode], [CountryID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (CAST(40025 AS Numeric(18, 0)), N'NLC
', N'NLC
', N'1', CAST(1 AS Numeric(18, 0)), N'1', NULL, CAST(N'2020-01-04T12:20:59.363' AS DateTime), NULL, 1)
INSERT [dbo].[stp_City] ([CityID], [CityCode], [CityName], [CityPhoneCode], [CountryID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (CAST(40026 AS Numeric(18, 0)), N'KICT
', N'KICT
', N'1', CAST(1 AS Numeric(18, 0)), N'1', NULL, CAST(N'2020-01-04T12:21:10.903' AS DateTime), NULL, 1)
INSERT [dbo].[stp_City] ([CityID], [CityCode], [CityName], [CityPhoneCode], [CountryID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (CAST(40028 AS Numeric(18, 0)), N'AXIX
', N'AXIX
', N'1', CAST(1 AS Numeric(18, 0)), N'1', NULL, CAST(N'2020-01-04T12:22:01.587' AS DateTime), NULL, 1)
INSERT [dbo].[stp_City] ([CityID], [CityCode], [CityName], [CityPhoneCode], [CountryID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (CAST(40029 AS Numeric(18, 0)), N'CP
', N'CP
', N'1', CAST(1 AS Numeric(18, 0)), N'1', NULL, CAST(N'2020-01-04T12:24:02.860' AS DateTime), NULL, 1)
INSERT [dbo].[stp_City] ([CityID], [CityCode], [CityName], [CityPhoneCode], [CountryID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (CAST(40030 AS Numeric(18, 0)), N'PTA
', N'PTA
', N'1', CAST(1 AS Numeric(18, 0)), N'1', NULL, CAST(N'2020-01-04T12:24:18.210' AS DateTime), NULL, 1)
INSERT [dbo].[stp_City] ([CityID], [CityCode], [CityName], [CityPhoneCode], [CountryID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (CAST(40031 AS Numeric(18, 0)), N'STEEL 
', N'STEEL 
', N'1', CAST(1 AS Numeric(18, 0)), N'1', NULL, CAST(N'2020-01-04T12:24:57.170' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[stp_City] OFF
GO
SET IDENTITY_INSERT [dbo].[stp_Company] ON 

INSERT [dbo].[stp_Company] ([CompanyID], [CompanyType], [CompanyCode], [CompanyName], [Address1], [Address2], [ZipCode], [PhoneNo], [FaxNo], [Email], [URL], [NTN], [CityID], [CountryID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (CAST(10005 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'ASS', N'Arabia Service Station (PSO)
', N'D-36,Block-1, Clifton, Karachi.', NULL, NULL, N'35878094', N'35878094', N'info@bilal-group.com', N'www.bilal-group.com', N'35878094', CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'1', NULL, CAST(N'2020-09-08T03:25:11.190' AS DateTime), NULL, 1)
INSERT [dbo].[stp_Company] ([CompanyID], [CompanyType], [CompanyCode], [CompanyName], [Address1], [Address2], [ZipCode], [PhoneNo], [FaxNo], [Email], [URL], [NTN], [CityID], [CountryID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (CAST(10006 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'BTP', N'Bismillah Trades-1 (PSO)
', N'D-36,Block-1, Clifton, Karachi.', NULL, NULL, N'35878094', N'35878094', N'info@bilal-group.com', N'www.bilal-group.com', N'35878094', CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'1', NULL, CAST(N'2020-09-08T03:26:22.923' AS DateTime), NULL, 1)
INSERT [dbo].[stp_Company] ([CompanyID], [CompanyType], [CompanyCode], [CompanyName], [Address1], [Address2], [ZipCode], [PhoneNo], [FaxNo], [Email], [URL], [NTN], [CityID], [CountryID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (CAST(10007 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'BTPF', N'Bismillah Trades (PSO FSD)
', N'D-36,Block-1, Clifton, Karachi.', NULL, NULL, N'35878094', N'35878094', N'info@bilal-group.com', N'www.bilal-group.com', N'35878094', CAST(10038 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'1', NULL, CAST(N'2020-09-08T03:28:21.217' AS DateTime), NULL, 1)
INSERT [dbo].[stp_Company] ([CompanyID], [CompanyType], [CompanyCode], [CompanyName], [Address1], [Address2], [ZipCode], [PhoneNo], [FaxNo], [Email], [URL], [NTN], [CityID], [CountryID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (CAST(10009 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'BF', N'Bismillah Filling Station  (Total FSD)
', N'D-36,Block-1, Clifton, Karachi.', NULL, NULL, N'35878094', N'35878094', N'info@bilal-group.com', N'www.bilal-group.com', N'35878094', CAST(10038 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'1', NULL, CAST(N'2020-09-08T03:29:48.373' AS DateTime), NULL, 1)
INSERT [dbo].[stp_Company] ([CompanyID], [CompanyType], [CompanyCode], [CompanyName], [Address1], [Address2], [ZipCode], [PhoneNo], [FaxNo], [Email], [URL], [NTN], [CityID], [CountryID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (CAST(10011 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'BTL', N'Bismillah Trades (PSO LHR)
', N'D-36,Block-1, Clifton, Karachi.', NULL, NULL, N'35878094', N'35878094', N'info@bilal-group.com', N'www.bilal-group.com', N'35878094', CAST(2 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'1', NULL, CAST(N'2020-09-08T03:31:05.520' AS DateTime), NULL, 1)
INSERT [dbo].[stp_Company] ([CompanyID], [CompanyType], [CompanyCode], [CompanyName], [Address1], [Address2], [ZipCode], [PhoneNo], [FaxNo], [Email], [URL], [NTN], [CityID], [CountryID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (CAST(10012 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'BFS', N'Bilal Filling Station (Byco Hub)
', N'D-36,Block-1, Clifton, Karachi.', NULL, NULL, N'35878094', N'35878094', N'info@bilal-group.com', N'www.bilal-group.com', N'35878094', CAST(80034 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'1', NULL, CAST(N'2020-09-08T03:35:21.800' AS DateTime), NULL, 1)
INSERT [dbo].[stp_Company] ([CompanyID], [CompanyType], [CompanyCode], [CompanyName], [Address1], [Address2], [ZipCode], [PhoneNo], [FaxNo], [Email], [URL], [NTN], [CityID], [CountryID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (CAST(10013 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'BTSK', N'Bilal Trucking Station (PSO Super Highway)
', N'D-36,Block-1, Clifton, Karachi.', NULL, NULL, N'35878094', N'35878094', N'info@bilal-group.com', N'www.bilal-group.com', N'35878094', CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'1', NULL, CAST(N'2020-09-08T03:37:35.893' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[stp_Company] OFF
GO
SET IDENTITY_INSERT [dbo].[stp_Country] ON 

INSERT [dbo].[stp_Country] ([CountryID], [CountryCode], [CountryName], [CountryPhoneCode], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (CAST(1 AS Numeric(18, 0)), N'PK', N'Pakistan', N'92', N'1', NULL, CAST(N'2017-10-25T23:29:50.147' AS DateTime), NULL, 1)
INSERT [dbo].[stp_Country] ([CountryID], [CountryCode], [CountryName], [CountryPhoneCode], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (CAST(2 AS Numeric(18, 0)), N'213	', N'Algeria', N'213', NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[stp_Country] OFF
GO
SET IDENTITY_INSERT [dbo].[stp_Customer] ON 

INSERT [dbo].[stp_Customer] ([CustomerID], [CustomerCode], [CustomerName], [Address1], [Address2], [ZipCode], [CustomerAcctCode], [NTN], [SalesTaxRegNumber], [Phone1], [Phone2], [Email], [CreditTerms], [CreditLimit], [EmpID], [CityID], [CountryID], [CompanyID], [BusinessDivisionID], [CustomerTypeID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (9, NULL, N'BLACK GOLD INDUSTRY
', N'---', N'---', N'---', CAST(0 AS Numeric(18, 0)), N'00000', N'00000', N'0000', N'0000', N'noemail@noemail.com', CAST(0 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(1023 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'1', NULL, CAST(N'2019-12-23T12:53:13.263' AS DateTime), NULL, 1)
INSERT [dbo].[stp_Customer] ([CustomerID], [CustomerCode], [CustomerName], [Address1], [Address2], [ZipCode], [CustomerAcctCode], [NTN], [SalesTaxRegNumber], [Phone1], [Phone2], [Email], [CreditTerms], [CreditLimit], [EmpID], [CityID], [CountryID], [CompanyID], [BusinessDivisionID], [CustomerTypeID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (12, NULL, N'BAHAWALPUR STEEL
', N'---', N'----', N'---', CAST(0 AS Numeric(18, 0)), N'0', N'0', N'000', N'0000', N'noemail@email.com', CAST(0 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(1023 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'1', NULL, CAST(N'2019-12-23T12:57:57.070' AS DateTime), NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[stp_Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[stp_Facility] ON 

INSERT [dbo].[stp_Facility] ([facilityID], [FacilityName], [isActive]) VALUES (1, N'Hualage/Transportation', 1)
INSERT [dbo].[stp_Facility] ([facilityID], [FacilityName], [isActive]) VALUES (2, N'LOLO/Handling', 1)
SET IDENTITY_INSERT [dbo].[stp_Facility] OFF
GO
SET IDENTITY_INSERT [dbo].[stp_Oil] ON 

INSERT [dbo].[stp_Oil] ([OilID], [OilTypeID], [VendorID], [OilCompany], [Quantity], [InvoiceNumber], [InvoiceDate], [Rate], [PaymentModeID], [Remarks], [CreateDate], [UpdateDate], [CreatedBy], [PO/Ref_No], [CompanyID], [DeliveryNo], [ReceivedDate], [POAmount], [PODate]) VALUES (1, 2, NULL, 3, CAST(3465.00 AS Decimal(9, 2)), NULL, NULL, NULL, NULL, N'test', NULL, NULL, NULL, NULL, 2, 2356, CAST(N'2021-05-01' AS Date), NULL, NULL)
INSERT [dbo].[stp_Oil] ([OilID], [OilTypeID], [VendorID], [OilCompany], [Quantity], [InvoiceNumber], [InvoiceDate], [Rate], [PaymentModeID], [Remarks], [CreateDate], [UpdateDate], [CreatedBy], [PO/Ref_No], [CompanyID], [DeliveryNo], [ReceivedDate], [POAmount], [PODate]) VALUES (2, NULL, NULL, NULL, CAST(3465.00 AS Decimal(9, 2)), N'4565', CAST(N'2021-05-01' AS Date), CAST(1.31 AS Decimal(9, 2)), -1, NULL, NULL, NULL, NULL, NULL, NULL, 1, NULL, CAST(654654.00 AS Decimal(9, 2)), CAST(N'2021-05-01' AS Date))
INSERT [dbo].[stp_Oil] ([OilID], [OilTypeID], [VendorID], [OilCompany], [Quantity], [InvoiceNumber], [InvoiceDate], [Rate], [PaymentModeID], [Remarks], [CreateDate], [UpdateDate], [CreatedBy], [PO/Ref_No], [CompanyID], [DeliveryNo], [ReceivedDate], [POAmount], [PODate]) VALUES (3, 2, NULL, 2, CAST(576.00 AS Decimal(9, 2)), NULL, NULL, NULL, NULL, N'tests', NULL, NULL, NULL, NULL, 3, 124565, CAST(N'2021-05-01' AS Date), NULL, NULL)
SET IDENTITY_INSERT [dbo].[stp_Oil] OFF
GO
SET IDENTITY_INSERT [dbo].[stp_OilMaster] ON 

INSERT [dbo].[stp_OilMaster] ([OMID], [Oil_Name], [Oil_Status]) VALUES (1, N'Diesel', 1)
INSERT [dbo].[stp_OilMaster] ([OMID], [Oil_Name], [Oil_Status]) VALUES (2, N'Engine Oil', 0)
INSERT [dbo].[stp_OilMaster] ([OMID], [Oil_Name], [Oil_Status]) VALUES (3, N'Hydrolic Oil', 0)
SET IDENTITY_INSERT [dbo].[stp_OilMaster] OFF
GO
INSERT [dbo].[stp_PaymentMode] ([PaymentModeID], [PaymentMode], [StatusID]) VALUES (1, N'Cash Paid', 1)
INSERT [dbo].[stp_PaymentMode] ([PaymentModeID], [PaymentMode], [StatusID]) VALUES (2, N'Cash Payable', 1)
INSERT [dbo].[stp_PaymentMode] ([PaymentModeID], [PaymentMode], [StatusID]) VALUES (3, N'Credit', 1)
GO
SET IDENTITY_INSERT [dbo].[stp_Product] ON 

INSERT [dbo].[stp_Product] ([ProductID], [ProductCode], [ProductName], [ProductAcctCode], [UnitPrice], [ProductCatID], [CompanyID], [BusinessDivisionID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (CAST(2 AS Numeric(18, 0)), N'00000001', N'5 - 10 ', CAST(0 AS Numeric(18, 0)), CAST(1.00 AS Numeric(18, 2)), CAST(2 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'1', N'1', CAST(N'2017-10-30T06:11:03.347' AS DateTime), CAST(N'2018-11-26T13:02:02.950' AS DateTime), 1)
INSERT [dbo].[stp_Product] ([ProductID], [ProductCode], [ProductName], [ProductAcctCode], [UnitPrice], [ProductCatID], [CompanyID], [BusinessDivisionID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (CAST(3 AS Numeric(18, 0)), N'00000002', N'10 - 15 ', CAST(0 AS Numeric(18, 0)), CAST(1.00 AS Numeric(18, 2)), CAST(2 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'1', N'1', CAST(N'2017-10-30T06:12:56.913' AS DateTime), CAST(N'2018-11-26T13:01:07.377' AS DateTime), 1)
INSERT [dbo].[stp_Product] ([ProductID], [ProductCode], [ProductName], [ProductAcctCode], [UnitPrice], [ProductCatID], [CompanyID], [BusinessDivisionID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status]) VALUES (CAST(4 AS Numeric(18, 0)), N'00000003', N'15 - 20 ', CAST(0 AS Numeric(18, 0)), CAST(1.00 AS Numeric(18, 2)), CAST(2 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'1', N'1', CAST(N'2017-10-30T06:15:10.183' AS DateTime), CAST(N'2018-11-26T12:59:08.193' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[stp_Product] OFF
GO
SET IDENTITY_INSERT [dbo].[stp_ProductCategory] ON 

INSERT [dbo].[stp_ProductCategory] ([ProductCatID], [ProductCatCode], [ProductCatName], [CompanyID], [BusinessDivisionID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status], [ServiecTypeID]) VALUES (CAST(2 AS Numeric(18, 0)), N'00000001', N'20 DR', CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'1', NULL, CAST(N'2017-10-30T05:58:13.877' AS DateTime), NULL, 1, 1)
INSERT [dbo].[stp_ProductCategory] ([ProductCatID], [ProductCatCode], [ProductCatName], [CompanyID], [BusinessDivisionID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status], [ServiecTypeID]) VALUES (CAST(3 AS Numeric(18, 0)), N'00000002', N'20 GP', CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'1', NULL, CAST(N'2017-10-30T05:58:42.050' AS DateTime), NULL, 1, 1)
INSERT [dbo].[stp_ProductCategory] ([ProductCatID], [ProductCatCode], [ProductCatName], [CompanyID], [BusinessDivisionID], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [Status], [ServiecTypeID]) VALUES (CAST(4 AS Numeric(18, 0)), N'00000003', N'20 HQ', CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'1', NULL, CAST(N'2017-10-30T05:59:11.317' AS DateTime), NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[stp_ProductCategory] OFF
GO
INSERT [dbo].[stp_ServiceType] ([ServiecTypeID], [ServiceTypeDesc], [StatusID]) VALUES (1, N'Ladan', CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[stp_ServiceType] ([ServiecTypeID], [ServiceTypeDesc], [StatusID]) VALUES (2, N'Empty', CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[stp_ServiceType] ([ServiecTypeID], [ServiceTypeDesc], [StatusID]) VALUES (3, N'Empty + Ladan', CAST(1 AS Numeric(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[stp_Status] ON 

INSERT [dbo].[stp_Status] ([StatusID], [Status], [StatusType], [UserID], [UpdateBy], [CreateDate], [UpdateDate]) VALUES (1, N'Pending', N'Approval', NULL, NULL, NULL, NULL)
INSERT [dbo].[stp_Status] ([StatusID], [Status], [StatusType], [UserID], [UpdateBy], [CreateDate], [UpdateDate]) VALUES (2, N'Approved', N'Approval', NULL, NULL, NULL, NULL)
INSERT [dbo].[stp_Status] ([StatusID], [Status], [StatusType], [UserID], [UpdateBy], [CreateDate], [UpdateDate]) VALUES (3, N'Rejected', N'Approval', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[stp_Status] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Invoice] ON 

INSERT [dbo].[tbl_Invoice] ([InvoiceID], [InvoiceNumber], [OrderID], [InvoiceDate], [NTN], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [VerifiedBy], [VerifiedDate], [InvoiceDataFromDate], [InvoiceDataToDate], [isActive], [Status]) VALUES (2, N'000001', 9, CAST(N'2021-04-24' AS Date), NULL, N'Admin', CAST(N'2021-04-24T11:01:49.923' AS DateTime), NULL, NULL, NULL, NULL, CAST(N'2021-04-20' AS Date), CAST(N'2021-04-30' AS Date), 0, 1)
INSERT [dbo].[tbl_Invoice] ([InvoiceID], [InvoiceNumber], [OrderID], [InvoiceDate], [NTN], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [VerifiedBy], [VerifiedDate], [InvoiceDataFromDate], [InvoiceDataToDate], [isActive], [Status]) VALUES (3, N'000002', 21, CAST(N'2021-04-24' AS Date), NULL, N'Admin', CAST(N'2021-04-24T14:24:46.237' AS DateTime), NULL, NULL, NULL, NULL, CAST(N'2021-04-23' AS Date), CAST(N'2021-04-30' AS Date), 0, 1)
INSERT [dbo].[tbl_Invoice] ([InvoiceID], [InvoiceNumber], [OrderID], [InvoiceDate], [NTN], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [VerifiedBy], [VerifiedDate], [InvoiceDataFromDate], [InvoiceDataToDate], [isActive], [Status]) VALUES (4, N'000003', 13, CAST(N'2021-04-24' AS Date), NULL, N'Admin', CAST(N'2021-04-24T14:32:43.097' AS DateTime), NULL, NULL, NULL, NULL, CAST(N'2021-04-13' AS Date), CAST(N'2021-04-29' AS Date), 0, 1)
SET IDENTITY_INSERT [dbo].[tbl_Invoice] OFF
GO
SET IDENTITY_INSERT [dbo].[VehicleRegistrationDetail] ON 

INSERT [dbo].[VehicleRegistrationDetail] ([VehicleID], [Vehicle_Number], [VehicleTypeID], [VehicleColor], [VehicleEngineNo], [VehicleChassisNO], [VehicleName], [IsActive], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [TTID], [AxelType], [TireQuantity]) VALUES (1, N'JS-4734', 5, N'Hydrolic Crane', N'JS-4734', N'84942', N'Hydrolic Crane', 1, NULL, N'arif', NULL, CAST(N'2020-03-07T17:40:06.197' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[VehicleRegistrationDetail] ([VehicleID], [Vehicle_Number], [VehicleTypeID], [VehicleColor], [VehicleEngineNo], [VehicleChassisNO], [VehicleName], [IsActive], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [TTID], [AxelType], [TireQuantity]) VALUES (2, N'JS-4741', 5, N'', N'', N'92256', N'Hydrolic Crane', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[VehicleRegistrationDetail] ([VehicleID], [Vehicle_Number], [VehicleTypeID], [VehicleColor], [VehicleEngineNo], [VehicleChassisNO], [VehicleName], [IsActive], [UserID], [UpdateBy], [CreateDate], [UpdateDate], [TTID], [AxelType], [TireQuantity]) VALUES (3, N'JS-4743', 5, N'', N'', N'540183', N'Hydrolic Crane', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[VehicleRegistrationDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[VehicleType] ON 

INSERT [dbo].[VehicleType] ([VehicleTypeID], [VehicleTypeDesc], [IsActive]) VALUES (1, N'Truck,Trailor', 1)
INSERT [dbo].[VehicleType] ([VehicleTypeID], [VehicleTypeDesc], [IsActive]) VALUES (2, N'Oil Tanker', 1)
INSERT [dbo].[VehicleType] ([VehicleTypeID], [VehicleTypeDesc], [IsActive]) VALUES (3, N'Lifter RS', 1)
SET IDENTITY_INSERT [dbo].[VehicleType] OFF
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [isActive]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [AccessFailedCount]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [LockoutEnabled]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [TwoFactorEnabled]
GO
ALTER TABLE [dbo].[stp_BusinessDivision] ADD  CONSTRAINT [DF_stp_BusinessDivision_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[stp_City] ADD  CONSTRAINT [DF_stp_City_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[stp_Company] ADD  CONSTRAINT [DF_stp_Company_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[stp_Country] ADD  CONSTRAINT [DF_stp_Country_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[stp_Customer] ADD  CONSTRAINT [DF_stp_Customer_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[stp_Product] ADD  CONSTRAINT [DF_stp_Product_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[stp_ProductCategory] ADD  CONSTRAINT [DF_stp_ProductCategory_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[VehicleRegistrationDetail] ADD  CONSTRAINT [DF_VehicleRegistrationDetail_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[stp_Company]  WITH NOCHECK ADD  CONSTRAINT [FK_stp_Company_stp_City] FOREIGN KEY([CityID])
REFERENCES [dbo].[stp_City] ([CityID])
GO
ALTER TABLE [dbo].[stp_Company] NOCHECK CONSTRAINT [FK_stp_Company_stp_City]
GO
ALTER TABLE [dbo].[stp_Product]  WITH NOCHECK ADD  CONSTRAINT [FK_stp_Product_stp_ProductCategory] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[stp_Company] ([CompanyID])
GO
ALTER TABLE [dbo].[stp_Product] NOCHECK CONSTRAINT [FK_stp_Product_stp_ProductCategory]
GO
ALTER TABLE [dbo].[stp_Product]  WITH NOCHECK ADD  CONSTRAINT [FK_stp_Product_stp_ProductCategory1] FOREIGN KEY([ProductCatID])
REFERENCES [dbo].[stp_ProductCategory] ([ProductCatID])
GO
ALTER TABLE [dbo].[stp_Product] NOCHECK CONSTRAINT [FK_stp_Product_stp_ProductCategory1]
GO
ALTER TABLE [dbo].[stp_ProductCategory]  WITH NOCHECK ADD  CONSTRAINT [FK_stp_ProductCategory_stp_Company] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[stp_Company] ([CompanyID])
GO
ALTER TABLE [dbo].[stp_ProductCategory] NOCHECK CONSTRAINT [FK_stp_ProductCategory_stp_Company]
GO
